.flip-card{
    perspective: 1000px;

}

.flip-card-inner{
    transition: transform 0.1s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back{
 position: absolute;
 backface-visibility: hidden; 
}

.flip-card-back{
    transform: rotateY(180deg);
}

.animatedNumber {
    text-align: center;
    font-size: 4rem; /* Adjust this value to make the number larger */
    font-weight: 400; /* Optional: Makes the number bold */
    color: #d9f9f4; /* Optional: Adjust color as needed */
  }