.Maindiv{
    /* background-color: #ECDFCC; */
    /* background-color: #EDE8DC; */
    background-color: aliceblue;
}
.scrollableDiv{
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 5px 5px rgba(112, 198, 224, 0.333);
    border-radius: 0.8rem;
    overflow: hidden;
    scrollbar-color: 'red';
}